/* CSS for Tax Calculator */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    text-align: left;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #dcdcdc;
    text-align: center;
    border-radius: 4px;
}

input:read-only {
  border: none;
  background-color: #f5f5f5;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Add more styling as needed */

.github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000; /* Adjust z-index as needed */
}